a, a:visited {
  color: #dedede;
  text-decoration: none;

  &.button-primary {
    color: #dedede;
    min-width: 100px;
    display: inline-block;
    text-align: center;
  }

  &:hover {
    color: #696cff;
    cursor: pointer;

    &.button-primary {
      color: #dedede;
    }
  }
}
