.my-table {
  margin-top: 30px;
  width: 100%;

  .field {
    margin-bottom: 0;
  }

  tr {
    th {
      font-weight: 900;
    }

    td, th {
      background: transparent;
      color: white;
      padding: 15px;
      border-top: 1px solid #424242;
      border-bottom: 1px solid #424242;

      &:first-child {
        border-left: 1px solid #424242;
      }

      &:last-child {
        border-right: 1px solid #424242;
      }

      &:last-child {
        text-align: right;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &.striked {
      td {
        opacity: 0.5;
        text-decoration: line-through;
      }
    }
  }

  tfoot {
    td {
      border: none !important;
    }
  }
}
