.top-resume {
  padding: 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  max-width: 600px;
  margin-bottom: 30px;

  background-color: rgb(105,108,255);

  &--success {
    background-color: #60a44d;
    text-align: center;
  }

  &--warning {
    background-color: #bf6e46;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__icon {
    position: absolute;
    opacity: 0.2;
    z-index: 0;
    right: 0;
    top: 0;
    height: 100%;

    svg {
      width: 150%;
      height: 150%;
      position: relative;
    }
  }

  p {
    position: relative;
    z-index: 1;
  }
}
