.api-keys-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.top-resume {
  padding: 25px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  max-width: 600px;
  margin-bottom: 20px;

  &--api-key {
    background-color: #696cff;
  }

  &--user-info {
    background-color: #218cad;
    max-width: 400px;
  }

  &--success {
    background-color: #60a44d;
    text-align: center;
  }

  &--warning {
    background-color: #bf6e46;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__icon {
    position: absolute;
    opacity: 0.2;
    z-index: 0;
    right: 0;
    top: 0;
    height: 100%;

    svg {
      width: 150%;
      height: 150%;
      position: relative;
    }
  }

  &__tokens {
    position: absolute;
    right: 25px;
    bottom: 25px;
    z-index: 1;
    text-align: right;

    &__count {
      font-size: 30px;
      font-weight: 700;
      display: block;
      line-height: 0.7;
    }

    &__subtitle {
      font-size: 12px;
      font-weight: 500;
    }

  }

  p {
    position: relative;
    z-index: 1;
  }
}
