p = t('devise.mailer.reset_password_instructions.greeting', email: @resource.email).html_safe
p = t('devise.mailer.reset_password_instructions.instructions').html_safe
br
p = link_to(t('devise.mailer.reset_password_instructions.link'),
            edit_password_url(@resource, reset_password_token: @token),
            style: 'text-decoration: none; color: white; width: auto; padding: 15px 20px; border-radius: 6px; border: none; background-color: rgb(105, 108, 255);')
br
p = t('devise.mailer.reset_password_instructions.after_link').html_safe
